.bees-backyard-jumbo {
    background-image: url(../images/BackyardBeesBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 800px;
}
.honeycomb {
    text-align: center;
    background: url(../images/HoneyComb.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 432px;
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 17%;
}
.honeycomb h1 {
    font-family: 'Nunito Sans', sans-serif;
    color: #000000;
    font-size: 30px;
    font-weight: 800;
    margin: 30px auto 20px;
    width: 50%;
}
.honeycomb p {
    font-family: 'Nunito Sans', sans-serif;
    color: #000000;
    font-size: 24px;
    font-weight: 300;
    width: 70%;
    margin: 20px auto;
    line-height: 1.3;
}
.bees-backyard-main-content {
    padding-top: 100px;
    margin: 0 auto;
}
.bees-backyard-main-content h1 {
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 800;
    margin-bottom: 20px;
}
.bees-backyard-main-content h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}
.bees-backyard-main-content h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.bees-backyard-main-content p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}
.bees-row-2 {
    margin-bottom: 70px;
}
.bees-row-3 {
    margin-bottom: 30px;
}
#pesticidefree {
    width: 70%;
}
#wildflowers-1{
    width: 65%;
}
#wildflowers-2{
    width: 65%;
}
#flowerlist {
    width: 50%;
}
.flower-list {
    text-align: center;
}
.bees-card-deck-3 {
    margin: 0 auto;
}
.bees-card-body-3 {
    background-color: #225508 !important;
}
.bees-card-3:hover .bees-card-body-3 {
    background-color: #EDD692 !important;
}
.bees-card-body-3 h5 {
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}
.bees-card-3:hover h5 {
    color: #000000;
}
.bees-card-3 a:hover {
    text-decoration: none !important;
}
#bee-bath {
    width: 90%;
}
.bees-involved {
    background-image: url(../images/GetInvolved.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px;
    text-align: center;
    position: relative;
    height: 600px;
}
.bees-involved h1 {
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 800;
    margin: 0 auto 20px auto;
    color: #ffffff;
    width: 50%;
}
.small-honeycomb {
    text-align: center;
    background: url(../images/HoneyComb.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 174px;
}
.small-honeycomb h2 {
    font-family: 'Nunito Sans', sans-serif;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    margin-top: 75px;
    text-decoration: none !important;
}
.small-honeycomb h2 a {
    font-family: 'Nunito Sans', sans-serif;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    margin-top: 75px;
    text-decoration: none !important;
}
.small-honeycomb h2 a:hover {
    font-family: 'Nunito Sans', sans-serif;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    margin-top: 75px;
    text-decoration: underline !important;
}
#small-hc-1 {
    position: absolute;
    z-index: 4;
    top: 30%;
    left: 43%;
}
#small-hc-2 {
    position: absolute;
    z-index: 3;
    top: 45%;
    left: 32%;
}
#small-hc-3 {
    position: absolute;
    z-index: 2;
    top: 45%;
    left: 54%;
}
#small-hc-4 {
    position: absolute;
    z-index: 1;
    top: 60%;
    left: 43%;
}