footer {
    position: relative;
    background-color: #FEED99;
    padding: 10px;
}
.bees-logo {
    max-width: 200px;
}
.bees-row {
    display: flex;
    height: 100%;
    align-items: center;
}
.bees-footer-info {
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 10px;
    text-align: center;
}
.bees-footer-info-inner {
    display: inline-block;
    text-align: left;
}
.bees-footer-info a {
    font-family: 'Nunito Sans', sans-serif;
    color: #000000;
}
.bees-footer-info a:hover {
    font-family: 'Nunito Sans', sans-serif;
    color: #000000;
    text-decoration: underline #000000 solid;
}
.bees-footer-sm {
    text-align: right;
}
.bees-sm {
    display: inline-block;
}
.bees-sm a:hover {
    text-decoration: none !important;
}
.bees-sm-link {
    width: 50px;
}