body {
    background-color: #FCFAF4;
}

/* Parallax */
#parallax-container {
    display: block;
    height: 750px; 
}
#parallax-container div#back {
    background-image: url(../images/HomepageBG01.png);
    position: fixed;
    top: 0;
    background-position: center !important;
    transform: translateY(0px);
    height: 750px; 
    width: 100%;
    margin-top: 80px;
}
#parallax-container div#tree {
    background-image: url(../images/HomepageBG02a.png);
    position: fixed;
    top: 0;
    background-position: right !important;
    transform: translateY(0px);
    height: 750px; 
    width: 100%;
    background-repeat: no-repeat !important;
}
#parallax-container div#bee1 {
    background-image: url(../images/realbee2.png);
    position: fixed;
    top: 110px;
    left: 600px;
    background-position: left !important;
    transform: translateY(0px);
    height: 750px; 
    width: 100%;
    background-repeat: no-repeat !important;
}
#parallax-container div#bee2 {
    background-image: url(../images/realbee3.png);
    position: fixed;
    top: -100px;
    left: 800px;
    background-position: left !important;
    transform: translateY(0px);
    height: 750px; 
    width: 100%;
    background-repeat: no-repeat !important;
}
#parallax-container div#bee3 {
    background-image: url(../images/realbee3.png);
    position: fixed;
    top: 150px;
    left: 300px;
    background-position: left !important;
    transform: translateY(0px);
    height: 750px; 
    width: 100%;
    background-repeat: no-repeat !important;
}
#parallax-container div#bee4 {
    background-image: url(../images/realbee3.png);
    position: fixed;
    top: -150px;
    left: 100px;
    background-position: left !important;
    transform: translateY(0px);
    height: 750px; 
    width: 100%;
    background-repeat: no-repeat !important;
}
#parallax-container div#bee5 {
    background-image: url(../images/realbee2.png);
    position: fixed;
    top: -200px;
    left: 400px;
    background-position: left !important;
    transform: translateY(0px);
    height: 750px; 
    width: 100%;
    background-repeat: no-repeat !important;
}
#parallax-container div#bees-header-content {
    position: fixed;
    top: 200px;
    left: 0;
    background-position: left !important;
    transform: translateY(0px);
    height: 750px; 
    width: 100%;
}

/* Navigation */
.bees-navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #FEED99 !important;
    padding: 10px 50px;
}
.bees-logo {
    max-width: 200px;
}
.bees-nav-ul {
  margin-left: auto;
  margin-right: 0 !important;
}
.bees-nav-link {
    font-family: 'Nunito Sans', sans-serif;
    color: #000000 !important;
    border-bottom: 3px solid rgba(0,0,0,0);
}
.bees-nav-link:hover {
    font-family: 'Nunito Sans', sans-serif;
    color: #000000 !important;
    border-bottom: 3px solid #D7792E;
}
.bees-nav-link.bees-active {
    font-family: 'Nunito Sans', sans-serif;
    color: #000000 !important;
    border-bottom: 3px solid #D7792E;
}
.bees-dropdown {
    background-color: #FCFAF4 !important;
}

/* Header Content */
.bees-header-content {
    position: relative;
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
    padding: 50px;
    width: 50%;
    margin: 0 50px;
}
.bees-header-content h1 {
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}
.bees-header-content h2 {
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
    font-size: 23px;
}
.bees-header-btn {
    background-color: #EDD692;
    border-radius: 4px;
    padding: 10px 20px;
    color: #000000;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
    display: inline-block;
}
.bees-header-btn:hover {
    background-color: #225508;
    border-radius: 4px;
    padding: 10px 20px;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
    display: inline-block;
}

/* Donation */
.bees-donate {
    position: relative;
    background-color: #225508;
    padding: 30px;
}
.bees-donate-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.bees-donate-content h3 {
    display: inline-block;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 20px;
}
.bees-donate-content h4 {
    display: inline-block;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #467030;
    border: 1px solid #ffffff;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 300;
}
.bees-donate-content h4:hover {
    display: inline-block;
    color: #000000;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #EDD692;
    border: 1px solid #EDD692;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 300;
}
.bees-donate-btn.active {
    display: inline-block;
    color: #000000;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #EDD692;
    border: 1px solid #EDD692;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 300;
}
#bees-donate-1 {
    display: none;
}
#bees-donate-2 {
    display: none;
}
.bees-donate-form {
    margin-top: 30px;
}
.bees-donate-form h5 {
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
}
.bees-input {
    margin-bottom: 10px;
}
.bees-input-1 {
    margin-bottom: 20px;
    width: 48.5%;
}
.bees-donate-submit {
    color: #000000;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #EDD692;
    border: 1px solid #EDD692;
    padding: 5px 10px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
    display: inline-block;
    cursor: pointer;
}
.bees-donate-submit:hover {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #467030;
    border: 1px solid #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
    display: inline-block;
    cursor: pointer;
}
#bees-donate-thanks {
    display: none;
    width: 50%;
    margin: 30px auto;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
}
.bees-donate-thanks h4 {
    display: inline-block;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #467030;
    border: 1px solid #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 300;
}
.bees-donate-thanks h4:hover {
    display: inline-block;
    color: #000000;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #EDD692;
    border: 1px solid #EDD692;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 300;
}

/* Main Content */
.bees-main-content {
    position: relative;
    background-color: #FCFAF4;
    width: 100%;
    padding-top: 50px;
}
#OurMission {
    width: 50%;
}
.bees-photo-container {
    text-align: center;
}
.bees-main-content h1 {
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 800;
    margin-bottom: 20px;
}
.bees-main-content p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}
.bees-main-content li {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}
.bees-row {
    display: flex;
    height: 100%;
    align-items: center;
}
.bees-card-deck {
    margin: 100px auto;
}
.bees-card {
    margin-left: 0 !important;
}
.bees-card-body {
    background-color: #225508 !important;
}
.bees-card:hover .bees-card-body {
    background-color: #EDD692 !important;
}
.bees-card-body h5 {
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}
.bees-card:hover h5 {
    color: #000000;
}
.bees-card a:hover {
    text-decoration: none !important;
}
#Membership {
    width: 70%;
}
.bees-membership {
    margin-top: 80px;
}
.bees-content-btn {
    background-color: #EDD692;
    border-radius: 10px;
    padding: 10px 20px;
    color: #000000;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
    display: inline-block;
}
.bees-content-btn:hover {
    background-color: #225508;
    border-radius: 10px;
    padding: 10px 20px;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
    display: inline-block;
}
.bees-events {
    margin-top: 100px;
}
.bees-carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15%;
    z-index: 10;
    display: flex !important;
    align-items: center;
    height: 100%;
}
.bees-events-mobile {
    display: none;
}
#contact-img {
    width: 90%;
}
.bees-contact {
    padding: 50px;
}
.bees-contact-form {
    background-color: #225508;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
}
.bees-contact a {
    background-color: #EDD692;
    border-radius: 10px;
    padding: 8px 20px;
    color: #000000;
    border: 2px solid #EDD692;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
    display: inline-block;
}
.bees-contact a:hover {
    background-color: #467030;
    border-radius: 10px;
    padding: 8px 20px;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
    display: inline-block;
}
.bees-contact h1 {
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #ffffff;
}

/* Footer */
footer {
    position: relative;
    background-color: #FEED99;
    padding: 10px;
}
.bees-footer-info {
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 10px;
    text-align: center;
}
.bees-footer-info-inner {
    display: inline-block;
    text-align: left;
}
.bees-footer-info a {
    font-family: 'Nunito Sans', sans-serif;
    color: #000000;
}
.bees-footer-info a:hover {
    font-family: 'Nunito Sans', sans-serif;
    color: #000000;
    text-decoration: underline #000000 solid;
}
.bees-footer-sm {
    text-align: right;
}
.bees-sm {
    display: inline-block;
}
.bees-sm a:hover {
    text-decoration: none !important;
}
.bees-sm-link {
    width: 50px;
}

/* Media Queries */
@media only screen and (max-width: 1000px) {
    .bees-header-content {
        position: relative;
        background-color: rgba(0,0,0,.5);
        border-radius: 10px;
        padding: 50px;
        width: 90%;
        margin: 0 auto;
    }
    #OurMission {
        width: 80%;
    }
    #Membership {
        width: 80%;
    }
    #contact-img {
        width: 100%;
    }
    .bees-card-body h5 {
        font-family: 'Nunito Sans', sans-serif;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 900px) {
    .bees-donate-content h3 {
        display: inline-block;
        color: #ffffff;
        font-family: 'Nunito Sans', sans-serif;
        margin: 0 20px;
        font-size: 23px;
    }
    .bees-donate-content h4 {
        display: inline-block;
        color: #ffffff;
        font-family: 'Nunito Sans', sans-serif;
        background-color: #467030;
        border: 1px solid #ffffff;
        padding: 5px 10px;
        margin: 0 10px;
        border-radius: 4px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 18px;
        text-align: center;
    }
    .bees-donate-content h4:hover {
        display: inline-block;
        color: #000000;
        font-family: 'Nunito Sans', sans-serif;
        background-color: #EDD692;
        border: 1px solid #EDD692;
        padding: 5px 10px;
        margin: 0 10px;
        border-radius: 4px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
    }
    .bees-donate-btn.active {
        display: inline-block;
        color: #000000;
        font-family: 'Nunito Sans', sans-serif;
        background-color: #EDD692;
        border: 1px solid #EDD692;
        padding: 5px 10px;
        margin: 0 10px;
        border-radius: 4px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
    }
}
@media only screen and (max-width: 768px) {
    #Membership {
        width: 80%;
        margin-bottom: 50px;
    }
    #OurMission {
        width: 80%;
        margin-top: 50px;
    }
    .bees-card-deck {
        flex-flow: column;
    }
    .bees-card {
        margin-bottom: 20px !important;
    }
    .bees-contact-form {
        margin: 0 auto;
    }
    #contact-img {
        width: 100%;
        margin-top: 50px;
    }
    .bees-footer-sm {
        text-align: center;
    }
    .bees-footer-logo{
        text-align: center;
    }
    .bees-footer-info-inner {
        display: inline-block;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .bees-donate-content h4 {
        display: inline-block;
        color: #ffffff;
        font-family: 'Nunito Sans', sans-serif;
        background-color: #467030;
        border: 1px solid #ffffff;
        padding: 5px 10px;
        margin: 0 5px;
        border-radius: 4px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 18px;
        text-align: center;
    }
    .bees-donate-content h4:hover {
        display: inline-block;
        color: #000000;
        font-family: 'Nunito Sans', sans-serif;
        background-color: #EDD692;
        border: 1px solid #EDD692;
        padding: 5px 10px;
        margin: 0 5px;
        border-radius: 4px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
    }
    .bees-donate-btn.active {
        display: inline-block;
        color: #000000;
        font-family: 'Nunito Sans', sans-serif;
        background-color: #EDD692;
        border: 1px solid #EDD692;
        padding: 5px 10px;
        margin: 0 5px;
        border-radius: 4px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
    }
    .bees-events-mobile {
        display: block;
        margin-top: 100px;
    }
    .bees-events {
        display: none;
    }
    .bees-carousel-caption {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 20%;
        z-index: 10;
        display: flex !important;
        align-items: center;
        height: 100%;
    }
}
